body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --alt1: #eaebed;
  --alt2: #006989;
  --alt3: #a3bac3;
  --alt4: #007090;
  --alt5: #01a7c2;
  

}

header {
  background: var(--alt2);
}

.about {
  background: var(--alt3)
}